<div class="container">
  <div class="row">
    <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <br/>
    <br/>
      <h1 class="gallery-title">ATÉ 50% OFF!</h1>
    </div>  
        <div class="col-md-3 mb-4">
            <div class="card p-1">
                <div class="d-flex justify-content-between align-items-center p-2">
                    <div class="flex-column lh-1 imagename"> <span>Smartphones</span></div>
                    <div> <img src="https://i.imgur.com/b9zkoz0.jpg" height="100" width="100" /> </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card p-2">
                <div class="d-flex justify-content-between align-items-center p-2">
                    <div class="flex-column lh-1 imagename"> <span>Fones</span> </div>
                    <div> <img src="https://i.imgur.com/SHWASPG.png" height="100" width="100" /> </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card p-2">
                <div class="d-flex justify-content-between align-items-center p-2">
                    <div class="flex-column lh-1 imagename"> <span>Acessórios</span> </div>
                    <div> <img src=" https://i.imgur.com/Ya0OXCv.png" height="100" width="100" /> </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card p-2">
                <div class="d-flex justify-content-between align-items-center p-2">
                    <div class="flex-column lh-1 imagename"><span>Gamer</span> </div>
                    <div> <img src="https://i.imgur.com/2gvGwbh.png" height="100" width="100" /> </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 pb-5">
          <div class="card p-2">
              <div class="d-flex justify-content-between align-items-center p-2">
                  <div class="flex-column lh-1 imagename"> <span>Teclados</span> </div>
                  <div> <img src="https://i.imgur.com/e9CyhXR.png" height="100" width="100" /> </div>
              </div>
          </div>
      </div>
        <div class="col-md-3 pb-5">
            <div class="card p-2">
                <div class="d-flex justify-content-between align-items-center p-2">
                    <div class="flex-column lh-1 imagename"> <span>Webcams</span></div>
                    <div> <img src="https://i.imgur.com/e9CyhXR.png" height="100" width="100" /> </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 pb-5">
            <div class="card p-2">
                <div class="d-flex justify-content-between align-items-center p-2">
                    <div class="flex-column lh-1 imagename"> <span>Notebooks</span> </div>
                    <div> <img src="https://i.imgur.com/6pK5oZl.jpg" height="100" width="100" /> </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 pb-5">
            <div class="card p-2">
                <div class="d-flex justify-content-between align-items-center p-2">
                    <div class="flex-column lh-1 imagename"> <span>Monitores</span> </div>
                    <div> <img src="https://i.imgur.com/6pK5oZl.jpg" height="100" width="100" /> </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
    
<!----------------------------------------ALEXANDRE OLIVEIRA EDIT------------------------------------------------>
<!-- <hr>
<div class="height d-flex justify-content-center align-items-center">
  <ng-container *ngFor="let item of listaProdutos ">

</ng-container> 
 <div class="container">
  <div class="row"> 
<div class="card col-md-3"> 
    <img src="{{item.image}}" alt="">
    <h5 class="itemdata">{{item.title}}</h5>
    <p class="itemdata">{{item.description}}</p>
    <p class="itemdata">{{item.price | currency: 'BRL'}}</p>
    <p>{{item.category}}</p>
    <button class="btn btn-primary" (click)="addtoCart(item)">Adicionar</button>
  </div>
</ng-container>
</div>
 </div> -->