<div class="banner">
  <img src="https://i.imgur.com/2Ebqgrd.png" alt="">
</div>
<div class="container">
    <div class="row">
      <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <h1 class="gallery-title">50% OFF NA PRIMEIRA COMPRA!</h1>
      </div>  
  <hr>
  <div class="height d-flex justify-content-center align-items-center">
    <!-- <ng-container *ngFor="let item of listaProdutos ">
  </ng-container> -->
  
  <div class="container">
    <div class="row">
      <ng-container *ngFor="let item of listaProdutos ">
      <div class="card col-md-3">
      <img src="{{item.imagem}}" alt="">
      <h5 class="itemdata">{{item.nomeDoProduto}}</h5>
      <p class="itemdata">{{item.descricao}}</p>
      <p class="itemdata">{{item.preco | currency: 'BRL'}}</p>
      <button class="btn btn-dark" (click)="addtoCart(item)">Adicionar</button>
    </div>
  </ng-container>
  </div>
  </div>