<body class="bg-light">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="home">
        <img
          src="https://i.imgur.com/8CHr0P2.png"
          alt=""
          width="180"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav me-auto">
          <a class="nav-link active border-bottom" aria-current="page" href="home"
            >Home</a
          >
          <div ngbDropdown class="d-inline-block">
            <a
              class="nav-link"
              aria-current="page"
              id="dropdown1"
              ngbDropdownToggle
              >Categorias</a
            >
            <div ngbDropdownMenu aria-labelledby="dropdown1">
              <button ngbDropdownItem>Smartphones</button>
              <button ngbDropdownItem>Hardware</button>
              <button ngbDropdownItem>Acessórios</button>
              <button ngbDropdownItem>Gamer</button>
            </div>
          </div>
          <a class="nav-link" aria-current="page" href="sobre">Sobre nós</a>
          <a class="nav-link" aria-current="page" href="feedback-usuario"
            >Feedback do usuário</a
          >
        </div>
        <form class="d-flex form-group">
          <div class="rounded-pill bg-light d-flex">
            <input
              type="text"
              class="form-control rounded-pill border-0 outiline-0 bg-transparent shadow-none py-1"
              placeholder="Pesquisar..."
              aria-label="Search ..."
            />
            <span class="pe-2 pt-1 pb-1">
              <i class="fas fa-search text-muted"></i>
            </span>
          </div>
        </form>
        &nbsp; &nbsp; &nbsp;
      </div>
      &nbsp;

      <button routerLink="carrinho" class="btn btn-dark">
        <i style="font-size: 30px" class="fas fa-cart-plus"></i>
        <div class="badge bg-danger">{{totalItemNumber}}</div>
      </button>
      &nbsp; &nbsp; &nbsp;
      <button routerLink="cadastrar" class="btn btn-dark">
        <i style="font-size: 30px" class="bi bi-person-circle"></i>
      </button>
    </div>
  </nav>
</body>
