<body class="bg-light">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
    <div class="container">
      <a class="navbar-brand" href="#">
          <img src="https://i.imgur.com/PSXxjNY.png" alt="" width="35" class="rounded-circle"> 
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav me-auto">
          <a class="nav-link active border-bottom" aria-current="page" href="#">Home</a>
          <a class="nav-link" aria-current="page" href="#">Categorias</a>
          <a class="nav-link" aria-current="page" href="#">Sobre nós</a>
          <a class="nav-link" aria-current="page" href="#">Feedback do usuário</a>
        </div>
        <form class="d-flex">
            <div class="rounded-pill bg-light d-flex">
                <input type="text" class="form-control rounded-pill border-0 outiline-0 bg-transparent shadow-none py-1" placeholder="Pesquisar..." aria-label="Search ...">
                <span class="pe-2 pt-1 pb-1"> <i class="fas fa-search text-muted"></i> </span>
            </div>
          </form>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>
</body>