<div class="pb-5">
    <div class="container">
        <div class="row">
          <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <br/>
            <h1 class="gallery-title">ACESSÓRIOS</h1>
            <br>    
          </div> 
    <div class="container d-flex justify-content-center mt-50 mb-50 pb-5">
        <div class="row">
            <div class="col-md-4 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="card-img-actions">
                            <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png"
                                class="card-img img-fluid" width="96" height="350" alt="">
                        </div>
                    </div>
                    <div class="card-body bg-light text-center">
                        <div class="">
                            <h6 class="font-weight-semibold">
                                <a href="#" class="text-default" data-abc="true">Fonte XPG, Pylon, 750W, 80 Plus Bronze, PFC Ativo</a>
                            </h6>
                            <a href="#" class="text-muted" data-abc="true">Hardware</a>
                        </div>
                        <h3 class="mb-0 font-weight-semibold">R$549,99</h3>
                        <div>
                            <i class="fa fa-star star"></i>
                            <i class="fa fa-star star"></i>
                            <i class="fa fa-star star"></i>
                            <i class="fa fa-star star"></i>
                        </div>
                        <div class="text-muted mb-3">34 avaliações</div>
                        <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="card-img-actions">
                            <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png"
                                class="card-img img-fluid" width="96" height="350" alt="">
                        </div>
                    </div>
                    <div class="card-body bg-light text-center">
                        <div class="">
                            <h6 class="font-weight-semibold">
                                <a href="#" class="text-default" data-abc="true">Fonte XPG, Pylon, 750W, 80 Plus Bronze, PFC Ativo</a>
                            </h6>
                            <a href="#" class="text-muted" data-abc="true">Hardware</a>
                        </div>
                        <h3 class="mb-0 font-weight-semibold">R$399,99</h3>
                        <div>
                            <i class="fa fa-star star"></i>
                            <i class="fa fa-star star"></i>
                            <i class="fa fa-star star"></i>
                            <i class="fa fa-star star"></i>
                            <i class="fa fa-star star"></i>
                        </div>
                        <div class="text-muted mb-3">26 avaliações</div>
                        <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="card-img-actions">
                            <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png"
                                class="card-img img-fluid" width="96" height="350" alt="">
                        </div>
                    </div>
                    <div class="card-body bg-light text-center">
                        <div class="">
                            <h6 class="font-weight-semibold">
                                <a href="#" class="text-default" data-abc="true">Fonte XPG, Pylon, 750W, 80 Plus Bronze, PFC Ativo</a>
                            </h6>
                            <a href="#" class="text-muted" data-abc="true">Hardware</a>
                        </div>
                        <h3 class="mb-0 font-weight-semibold">R$230,00</h3>
                        <div>
                            <i class="fa fa-star star"></i>
                            <i class="fa fa-star star"></i>
                            <i class="fa fa-star star"></i>
                        </div>
                        <div class="text-muted mb-3">18 avaliações</div>
                        <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="card-img-actions">
                            <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png"
                                class="card-img img-fluid" width="96" height="350" alt="">
                        </div>
                    </div>
                    <div class="card-body bg-light text-center">
                        <div class="">
                            <h6 class="font-weight-semibold">
                                <a href="#" class="text-default" data-abc="true">Fonte XPG, Pylon, 750W, 80 Plus Bronze, PFC Ativo</a>
                            </h6>
                            <a href="#" class="text-muted" data-abc="true">Hardware</a>
                        </div>
                        <h3 class="mb-0 font-weight-semibold">R$889,99</h3>
                        <div>
                            <i class="fa fa-star star"></i>
                            <i class="fa fa-star star"></i>
                            <i class="fa fa-star star"></i>
                            <i class="fa fa-star star"></i>
                            <i class="fa fa-star star"></i>
                        </div>
                        <div class="text-muted mb-3">48 avaliações</div>
                        <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="card-img-actions">
                            <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png"
                                class="card-img img-fluid" width="96" height="350" alt="">
                        </div>
                    </div>
                    <div class="card-body bg-light text-center">
                        <div class="">
                            <h6 class="font-weight-semibold">
                                <a href="#" class="text-default" data-abc="true">Fonte XPG, Pylon, 750W, 80 Plus Bronze, PFC Ativo</a>
                            </h6>
                            <a href="#" class="text-muted" data-abc="true">Hardware</a>
                        </div>
                        <h3 class="mb-0 font-weight-semibold">R$129,99</h3>
                        <div>
                            <i class="fa fa-star star"></i>
                            <i class="fa fa-star star"></i>
                            <i class="fa fa-star star"></i>
                        </div>
                        <div class="text-muted mb-3">7 avaliações</div>
                        <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="card-img-actions">
                            <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png"
                                class="card-img img-fluid" width="96" height="350" alt="">
                        </div>
                    </div>
                    <div class="card-body bg-light text-center">
                        <div class="">
                            <h6 class="font-weight-semibold">
                                <a href="#" class="text-default" data-abc="true">
                                    Fonte XPG, Pylon, 750W, 80 Plus Bronze, PFC Ativo</a>
                            </h6>
                            <a href="#" class="text-muted" data-abc="true">Hardware</a>
                        </div>
                        <h3 class="mb-0 font-weight-semibold">R$329,99 </h3>
                        <div>
                            <i class="fa fa-star star"></i>
                            <i class="fa fa-star star"></i>
                            <i class="fa fa-star star"></i>
                            <i class="fa fa-star star"></i>
                            <i class="fa fa-star star"></i>
                        </div>
                        <div class="text-muted mb-3">10 avaliações</div>
                        <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
