.bg-indigo {
   background-color: #485461;
background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
.transition:hover {
    /* background-color: #485461; */
    transition-delay: 0.2s;

}