.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

.map-size{
  width: 600px;
  height: 400px;
}

.container-n-1{
  margin-top: 15%;

}

.img-text{
  width: 100%;
  height: 300px;
  display: block;
  text-align: center;
  padding: 40% 5%;
  background: rgb(238, 237, 237);
  color: #000;
  border-radius: 15px;
}

.img-text h2{
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;

}

 .img-text p{
   font-size: 14px;
 }

 .single-box{
   position: relative;
   margin-bottom: 30px;
 }

 .img-area{
   position: absolute;
   width: 100px;
   height: 100px;
   border: 5px solid #fff;
   overflow: hidden;
   top: 42px;
   left: 150px;
   border-radius: 50%;

 }

 .img-area img{
   width: 100%;

 }

 .carousel-indicators{
   left: 0;
   top: auto;
   bottom: -70px;
 }
.carousel-control-prev-icon {
  color: #000;
}
.carousel-control-prev{
  color: #000;
}
 .carousel-indicators button{
   background-color: #000;
   border-radius: 50%;
   width: 15px;
   height: 15px;
 }

 .carousel-indicators .active{
   background-color: #000;
 }