<form [formGroup]="loginForm" (ngSubmit)="onLogin()" >
<section  class="h-100 h-custom gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0"> 
            <div class="row g-0">
              
              <div class="col-lg-6">
                
                <div class="p-5">
                  
                  <h3 class="fw-normal mb-5" style="color: #4835d4;">Login</h3>
                   
                  <div class="row">
                     <div class="mb-2 pb-2">
                    <div class="form-outline form-white">
                      <label class="form-label" for="email">Email</label>
                      <input formControlName="email" type="email" id="email" class="form-control form-control-lg" />
                        <small class="text-danger" *ngIf="email?.touched && email?.invalid">
                            <span *ngIf="email?.hasError('required')">O email é obrigatório</span>
                            <span *ngIf="email?.hasError('email')">O email é inválido</span> <br>
                            </small>
                      
                    </div>
                  </div>
                  
                    <div class="col-md-6">
                    </div>
                    
                  </div>
                  <div class="mb-4 pb-1">
                    <div class="form-outline">
                      <label class="form-label" for="password">Senha</label>
                      <input formControlName="senha" type="password" id="password" class="form-control form-control-lg" />
                      <small class="text-danger" *ngIf="senha?.touched && senha?.invalid">
                      <span *ngIf="senha?.hasError('required')">A senha é obrigatória</span>
                      <span *ngIf="senha?.hasError('minlength')">8 Digitos obrigatorio</span><br>
                    </small>
                      
                    </div>
                  </div>
                    
                 <button  type="submit" class="btn btn-primary btn-lg"
                    data-mdb-ripple-color="dark"  [disabled]="loginForm.invalid" >Entrar</button> 

                </div>
               
               

              </div>
              
              <div  class="col-lg-6 bg-indigo text-white">
                <form [formGroup]="cadastroForm" (ngSubmit)="onCadastro()">
                <div class="p-5">
                  <h3 class="fw-normal mb-5">Cadastrar</h3>

                  <div class="mb-2 pb-2">
                    <div class="form-outline form-white">
                       <label class="form-label" for="email2">Email</label>
                      <input formControlName="email2" type="text" id="email2" class="form-control form-control-lg" />
                      <small class="text-warning" *ngIf="email2?.touched && email2?.invalid">
                            <span *ngIf="email2?.hasError('required')">O email é obrigatório</span>
                            <span *ngIf="email2?.hasError('email')">O email é inválido</span> 
                            </small>
                     
                    </div>
                  </div>

                  <div class="mb-2 pb-2">
                    <div class="form-outline form-white">
                      <label class="form-label" for="password2">Senha</label>
                      <input formControlName="senha2" type="password" id="password2" class="form-control form-control-lg" />
                      <small class="text-warning" *ngIf="senha2?.touched && senha2?.invalid">
                        <span *ngIf="senha2?.hasError('required')">A senha é obrigatória</span>
                        <span *ngIf="senha2?.hasError('minlength')">8 Digitos obrigatorio</span>
                      </small>
                      
                    </div>
                  </div>

            

                  <div class="mb-2 pb-2">
                    <div class="form-outline form-white">
                      <label class="form-label" for="confirmPassword">Confirme sua senha</label>
                      <input formControlName="senha3" type="password" id="confirmPassword" class="form-control form-control-lg" />
                      <small class="text-warning" *ngIf="senha3?.touched && senha3?.invalid">
                      <span *ngIf="senha3?.hasError('required')">A confirmação da senha é obrigatória</span>
                      <span *ngIf="senha3?.hasError('mustMatch')">As senhas estão diferentes</span>
                    </small>
                      
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-5 mb-4 pb-2">

                      <div class="form-outline form-white">
                        <label class="form-label" for="cpf">CPF</label>
                        <input formControlName="cpf" matInput type="text" id="cpf" class="form-control form-control-lg" mask="000.000.000-00"/>
                        <small class="text-warning" *ngIf="cpf?.touched && cpf?.invalid">
                          <span   *ngIf="cpf?.hasError('minlength')" >CPF invalido, 11 digitos necessarios </span>
                           <span *ngIf="cpf?.hasError('required')">O CPF é obrigatorio</span>
                    </small>
                        
                      </div>

                    </div>
                    <div class="col-md-7 mb-2 pb-2">

                      <div class="form-outline form-white">
                         <label class="form-label" for="celular">Celular</label>
                        <input formControlName="celular"  matInput type="text" id="celular" class="form-control form-control-lg" mask="(00) 0000-00000" />
                        <small class="text-warning" *ngIf="celular?.touched && celular?.invalid">
                          <span   *ngIf="celular?.hasError('minlength')" >Número invalido, 11 digitos necessarios </span>
                      <span *ngIf="celular?.hasError('required')">O celular é obrigatorio</span>
                    </small>
                       
                      </div>

                    </div>
                  </div>

                  <button type="submit" class=" btn btn-light btn-lg"
                    data-mdb-ripple-color="dark" [disabled]="cadastroForm.invalid" >Registrar</button>

                </div>
             </form>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</form>